.my-pic {
  width: 200px;
  border-radius: 100px;
  margin: 10px;
  transition: transform 0.3s ease;
}

.my-pic:hover {
  transform: scale(1.05);
}

.aficiones_list {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  list-style-type: none;
  padding-left: 0;
}

.titulo_aficiones {
  font-size: 1rem; 
  margin-left: 10px; 
  color: #333; 
}

