#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  font-family: "Poppins", sans-serif;
}

.my-pic {
  width: 200px;
  border-radius: 100px;
  margin: 10px;
  transition: transform 0.3s ease;
}

.my-pic:hover {
  transform: scale(1.05);
}

.App {
  text-align: center;
  font-family: sans-serif;
  padding: 20px;
}

.canciones-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.cancion-card {
  border: 1px solid #ccc;
  padding: 10px;
  width: 200px;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.card {
  padding: 2em;
}
